body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.controllers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.container {
    margin: 0 auto;
}
